@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
}
.material-symbols-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100dvh;
  overscroll-behavior: none;
}
